body, html {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.main-header {
  width: 100%;
  height: 90px;
  padding: 30px 0;
  text-align: center;
  background-color: #631100;
  margin-bottom: 36px;
}

.main-header div h1 {
  font-size: 1.75em;
  margin: 0;
  height: 60px;
  color: white;
}

.formheader {
  align-content: center;
  align-items: center;
}

.main-header div h3 {
  font-size: 1.25em;
  margin: 0;
  height: 30px;
  color: white;
}

.login {
  border: 1px solid #424242;
  box-shadow: 1px 1px 1px #424242;
  width: 80%;
  max-width: 800px;
  align-items: center;
  margin: auto;
  cursor: pointer;
}
div#headerleft {
  width: 20%;  
  height: 90px;
  margin: auto;
  float: left;
}
div#headerright {
  width: 20%;
  height: 90px;
  margin: auto;
  float: left;
}
div#headercentral {
  width: 60%;
  height: 90px;
  margin: auto;
  float: left;
}
.headerimage {
  width:  100%;
  margin: auto;
}

.card__image img {
  max-width: 100%;
}

.card__content, .card__details {
  padding: 0 5%;
  transition: opacity 0.3s ease-out;
}

.card__details {
  display: none;
  opacity: 0;
}